<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="JavaScript Training">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.jsdelivr.net/riot/2.6.1/riot+compiler.min.js"></script>
    <script src="/router.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <h1 class="title">JavaScript研修</h1>
    </header>
    <main>
      <ul class="practice-list">
	      <li><a href="#practice1">演習1</a></li>
	      <li><a href="#practice2">演習2</a></li>
	      <li><a href="#practice3">演習3</a></li>
      </ul>
      
      <route></route>
    </main>
    <script src="/practice.tag" type="riot/tag"></script>
    <script src="/home.tag" type="riot/tag"></script>
    <script src="/app.js"></script>
    <script src="/test.js"></script>
  </body>
</html>
